@page
@model PistasPadel.Pages.AceptarCancelarReservaModel
@{
    ViewData["Title"] = "ConfirmarCancelacion";
}

<br />
<p>¿Seguro que quiere CANCELAR la reserva que tenía hecha?</p>
<div>
    <a class="btn btn-success" asp-page="">SÍ</a>
</div>

