@page
@model PistasPadel.Pages.PaginaReservasModel
@{
    ViewData["Title"] = "Reservas";
}

<div class="text-center container row">
    <form name="principal">
        <div>
            <h1>Reservas</h1>
        </div>
        <br />
        <div>
            <input type="date" />
        </div>
        <br />
        <div>
            <select name="credit_card" size="3">
                <option value="Visa">Visa</option>
                <option value="Mastercard">Mastercard</option>
                <option value="American Express">American Express</option>
            </select>
        </div>
    </form>
</div>


